<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <div class="background1">
      <div class="container" id="firstContainer">
        <div class="row">
          <div class="offset-xl-2 offset-lg-1 col-xl-8 col-lg-10 col-sm-12 col-md-12" id="aboutUs">
            <h2 id="underlining"><span id="povijest">povijest</span><p id="obitelj">OBITELJI LUBURIĆ</p></h2>
            <p id="text">
              Povijest ugostiteljstva obitelji Luburić potiče još od 1927. godine te se može smatrati kao početna godina bivanja naše obitelji u Vinkovcima.<br>
<br>
Za prve dane ugostiteljstva zaslužan je moj pradjed Drago koji je dolazio iz veoma siromašne obitelji. Nakon ubojstva njegova oca Ljubomira ostali su sami s majkom u još goroj financijskoj situaciji. Znao je pričati kako ih je majka tjerala na molitvu da ne misle na studen i glad. Pradjed Drago nakon što je koliko toliko odrastao odlazi trbuhom za kruhom u Vinkovce gdje je izučio konobarski zanat u željezničkoj restauraciji 1927. godine. Tu upoznaje moju prabaku Magdalenu Kunc-Rein koja je zbog istih razloga napustila svoj dom u Đurđancima i zaposlila se u vinkovačkoj željezničkoj restauraciji učeći kuharski zanat. Sudbina je htjela da se pradjed iz Ljubuškog i prabaka iz Đurđanca nađu u Vinkovcima i 1938. zasnuju brak u kojem su dobili mog djeda Zvonimira i njegovog brata Dubravka.<br><br>
Nakon 2. svjetskog rata pa sve do umirovljenja pradjed i prabaka radili su isključivo u ugostiteljstvu. Pradjed Drago uglavnom je obnašao rukovodeće poslove u pojedinim ugostiteljskim objektima u Vinkovcima. Najprije u gostionici Kupa na kolodvoru, lokacija današnje trgovine Santini. Poslije toga je dugi niz godina vodio ugostiteljsku radnju ¨Šokadija¨ koja se nalazila na mjestu sadašnjeg lokala u sklopu poslovnog kompleksa ¨Terme¨. Pred umirovljenje je radio na mjestu šefa sale u tadašnjem hotelu Slavonija, danas poznat kao hotel Admiral. Dobar dio slika u sadašnjem restoranu Lu potiče iz tog vremena.<br><br>
Ljubav prema ugostiteljstvu pokazivao je i moj djed Zvonimir koji je ozbiljno razmišljao o projektu brze hrane u Vinkovcima koji tada nije uopće postojao.<br><br>
Ugostiteljska tradicija u mojoj obitelji nastavlja se i na moga oca Vatroslava koji je još tijekom ljetnih školskih praznika radio kao konobar kako bi zaradio za ¨džeparac¨. Nakon završene srednje škole radio je na brojnim mjestima kao konobar, što u Vinkovcima, što izvan njih. Ljubav prema ugostiteljstvu postajala je sve veća i sve je ozbiljnije razmišljao o tom poslu. Trudio se, bio uporan i ogledalo toga su današnji ugostiteljski objekti Excellent pub i restoran Lu koje uspješno vodi. Pamtim njegove riječi kada je govorio da našem malom gradu treba novo svjetlo. Moj otac probudio je novi život na našem malom vinkovačkom korzu otvorivši Ex, kako bi ga nazvali brojni Vinkovčani koji se u njemu osjećaju kao u svom domu. Kako bi zaokružio cijelu malu priču, otvorio je restoran koji je ime dobio po našem prezimenu Luburić.<br><br>
Ljubav i strast prema tom poslu prenosi i na svoju djecu, mog brata Frana, sestru Anju i na mene samu. Dok moj brat Fran postupno uz oca preuzima njegov posao, ja konobarim, a najmlađa sestra Anja već sa 11 godina pokazuje odlične sposobnosti kao ¨barista¨.<br><br>
Kada sve uzmem u obzir, smatram kako je ugostiteljstvo i ljubav prema tom poslu prožeta genima naše obitelji i nadam se da nikad neće prestati.<br><br>
– Ira Luburić<br><br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"></div>
    <div class="background2">
      <div class="container" id="secondContainer">
        <div class="row justify-content-center align-items-middle hidden-xs" id="jelovnik">
          <h1 id="fonty" style="font-size:100px; font-weight: 200; padding-top: 120px;">Restoran</h1>
        </div>
        <div class="row">
          <div class="col-12 hidden-xs" style="margin-top: 25px;" id="videoCol">
            <video poster="../../../assets/img/thumbnailEdit.jpg" controls>
              <source src="../../../assets/video/lupresentation.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
      
    </div>
    <div class="text-white">
        <footer class="bg-dark bg-gradient" style="height: 120px;">
            <div class="d-flex justify-content-middle align-items-middle">
              <div class="d-none d-sm-none d-md-block">
                <img src="../../../assets/img/logo.png" style="width: 180px; height: 100px;  padding-left: 50px; padding-top: 15px;">
              </div>
              <div style="padding-left: 40px; padding-top: 6px;">
                <h6>KONTAKT</h6>
                <p class="d-flex align-items-center"><img class="pr-2" src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"/>732/21 Restoran LU - Trg bana Josipa Šokčevića 2 Vinkovci</p>
                <p class="d-flex align-items-center"><img class="pr-2" src="https://img.icons8.com/material-rounded/24/000000/phone-not-being-used.png"/>+387 032 333 111</p>
              </div>
              <div class="d-none d-sm-none d-md-none d-lg-block" style="padding-left: 350px; padding-top: 20px;">
                <a href="https://www.facebook.com/RestoranLuVinkovci/"><img style="padding-left: 8px;" src="https://img.icons8.com/material-sharp/50/000000/facebook-new.png"/></a>
                <h6>FACEBOOK</h6>
              </div> 
              <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block"  style="padding-left: 350px; padding-top: 20px;">
                <a href="https://www.instagram.com/restoranlu/"><img style="padding-left: 8px;" src="https://img.icons8.com/fluent-systems-filled/50/000000/instagram-new.png"/></a>
                <h6>INSTAGRAM</h6>
              </div>   
            </div>
          </footer>
    </div>
</body>