.background1 {
    width: 100% !important;
    height: 100vh;
    background-image: url('../../../assets/img/naslovnaEdit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.background3 {
    padding-top: 10px;
    width: 100% !important;
    height: 145vh;
    background-image: url('../../../assets/img/20210131_140037.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background2 {
    width: 100% !important;
    height: 120vh;
    background-image: url('../../../assets/img/o-nama-luburicEdit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax {
    /* The image used */
    background-image: url("../../../assets/img/parallax.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstContainer {
    padding-top: 200px;
    color: #cfa670;
    animation: transitionIn 1s;
}
#secondContainer{
    animation: transitionIn 1s;
}
#aboutUs{
    background-color: #292526;
    padding-left: 70px;
    padding-right: 70px;
}

#povijest {
    color: #cfa670;
    font-style: italic;
    font-family: 'Kristi', cursive;
    font-size: 70px; z-index: 100; position: absolute;
}

#obitelj{
    color:white; font-size: 50px; font-family: Roboto; padding-top: 60px;
}

#underlining {
    border-bottom: 1px solid #cfa670;
    width: 100%;
}

#text {
    color:white;
    font-family: Roboto;
    font-size:15.7px;
}

video {
    width: 100%;
    height: auto;
    outline: none;
}

#fonty {
    color: #cfa670;
    font-family: 'Kristi', cursive;
}

