body {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px) {
.navbar-collapse
    {
        background-color: #cfa670 ;
        border: 2px solid #cfa670;
        border-radius: 15px;
    }
}

.bg-trasparent{
    background-image: linear-gradient(79deg,rgba(225,218,230,0) 38%, rgba(250, 238, 211, 0.411) 58%,rgba(247, 216, 169, 0.788) 80%) !important;
}

.navbar-toggler {  width: 100px; }

