
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-trasparent navbar-fixed-top pt-4" id="navi">
         <a class="navbar-brand d-none d-xl-block d-lg-block" [routerLink]="['/']" onclick="scrolltop()"><img src="../assets/img/logo.png" style="width: 200px; height: 200px;"></a>

         <button class="navbar-toggler mr-auto ml-auto" style="background-color: #cfa670;" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="width: 50px; height: 50px;"></span>
         </button>

         <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right" style="margin-left:auto !important;">
              <li class="nav-item pr-5">
                <a class="nav-link font-weight-bold" style="font-size: larger; color:black;" [routerLink]="['/']" onclick="scrolltop()">NASLOVNICA</a>
              </li>

              <li class="nav-item pr-5">
                <a class="nav-link  font-weight-bold" style="font-size: larger; color:black;" [routerLink]="['/order']" onclick="scrolltop()">NARUČI</a>
              </li>
              <li class="nav-item pr-5">
                <a class="nav-link  font-weight-bold" style="font-size: larger; color:black;" [routerLink]="['/about']" onclick="scrolltop()">O NAMA</a>
              </li>
              <li class="nav-item pr-5">
                <a class="nav-link  font-weight-bold" style="color:black; font-weight: bold; padding: 10px 12px; border: 3px solid black; font-size: larger;" [routerLink]="['/order']" onclick="scrollToRes2()">REZERVACIJA</a>
              </li>
            </ul>
         </div>
       </nav>
     
    </header>
    <!-- SCROLL TOP BUTTON -->
    <div>
      <a class="gotopbtn" onclick="scrolltop()"><img src="../assets/img/arrow-up-solid.svg" id="arrow"></a>
    </div>

