body {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px) {
.navbar-collapse
    {
        background-color:#6c757d;
        border: 2px solid #6c757d;
        border-radius: 15px;
    }
}

.navbar-toggler {  width: 100px; }

