<body>
    <header>
        <nav>
            <div class="menu-icon text-dark">
               <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
               <a href=""><img src="../assets/img/logo.png" style="width: 200px; height: 200px;"></a>
            </div>
            <div class="menu">
               <ul>
                  <li><a href="" style="font-weight: bold;">NASLOVNICA</a></li>
                  <li><a href="menu" style="font-weight: bold;">PONUDA</a></li>
                  <li><a href="order" style="font-weight: bold;">NARUČI</a></li>
                  <li><a href="about" style="font-weight: bold;">O NAMA</a></li>
                  <li><a href="location" style="font-weight: bold;">LOKACIJA</a></li>
                  <li><a href="reservation" style="font-weight: bold;">REZERVACIJA</a></li>
               </ul>
            </div>
        </nav> 
    </header>

</body>
