<app-navbar></app-navbar>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kristi&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <div class="background1">
      <div class="container" id="firstContainer">
        <div class="row">
          <div class="offset-xl-2 offset-lg-1 col-xl-8 col-lg-10 col-sm-12 col-md-12" id="aboutUs">
            <h2 id="underlining"><span id="povijest">ispuni</span><p id="obitelj">REZERVACIJU</p></h2>
            <div>
              <label for="" class="col">
                <div class="row align-items-center">
                    <div class="col"><h5>Ime i prezime:</h5></div>
                    <div class="col"><input type="text" style="height: 40px;" [(ngModel)] = "fullname" placeholder="Pero Peric"></div>
                </div>                   
            </label>
            <label for="" class="col">
              <div class="row align-items-center">
                    <div class="col"><h5>Broj osoba:</h5></div>
                    <div class="col"><input type="text" style="height: 40px;" [(ngModel)] = "num_people" placeholder="16"></div>
              </div>
            </label>
            <label for="" class="col">
                <div class="row align-items-center">
                      <div class="col"><h5>Datum i vrijeme:</h5></div>
                      <div class="col"><input type="text" style="height: 40px;" [(ngModel)] = "datetime" placeholder="20.07.2021 21:00h"></div>
                </div>
            </label>
            <label for="" class="col">
                <div class="row align-items-center">
                      <div class="col"><h5>Broj telefona:</h5></div>
                      <div class="col"><input type="text" style="height: 40px;" [(ngModel)] = "tel_numb" placeholder="099138914"></div>
                </div>
            </label>
            <label for="" class="col">
                <button class="btn btn-secondary btn-block" (click)="sendReservation()" style="background-color: #cfa670 !important;">POŠALJI</button>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"></div>
    <div class="background2">

    </div>
    <app-footer></app-footer>
</body>