<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="background1">

    </div>
    <div class="parallax"></div>
    <div class="background2">

    </div>
    <div class="text-white">
        <footer class="bg-dark bg-gradient" style="height: 120px;">
            <div class="d-flex justify-content-middle align-items-middle">
              <div class="d-none d-sm-none d-md-block">
                <img src="../../../assets/img/logo.png" style="width: 180px; height: 100px;  padding-left: 50px; padding-top: 15px;">
              </div>
              <div style="padding-left: 40px; padding-top: 6px;">
                <h6>KONTAKT</h6>
                <p class="d-flex align-items-center"><img class="pr-2" src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"/>732/21 Restoran LU - Trg bana Josipa Šokčevića 2 Vinkovci</p>
                <p class="d-flex align-items-center"><img class="pr-2" src="https://img.icons8.com/material-rounded/24/000000/phone-not-being-used.png"/>+387 032 333 111</p>
              </div>
              <div class="d-none d-sm-none d-md-none d-lg-block" style="padding-left: 350px; padding-top: 20px;">
                <a href="https://www.facebook.com/RestoranLuVinkovci/"><img style="padding-left: 8px;" src="https://img.icons8.com/material-sharp/50/000000/facebook-new.png"/></a>
                <h6>FACEBOOK</h6>
              </div> 
              <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block"  style="padding-left: 350px; padding-top: 20px;">
                <a href="https://www.instagram.com/restoranlu/"><img style="padding-left: 8px;" src="https://img.icons8.com/fluent-systems-filled/50/000000/instagram-new.png"/></a>
                <h6>INSTAGRAM</h6>
              </div>   
            </div>
          </footer>
    </div>
</body>