.background1 {
    width: 100% !important;
    height: 100vh;
    background-image: url('../../../assets/img/naslovnaEdit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background3 {
    padding-top: 10px;
    width: 100% !important;
    height: 145vh;
    background-image: url('../../../assets/img/20210131_140037.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background2 {
    width: 100% !important;
    height: 120vh;
    background-image: url('../../../assets/img/o-nama-luburicEdit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax {
    /* The image used */
    background-image: url("../../../assets/img/parallax.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstContainer {
    padding-top: 130px;
    color: #cfa670;
    animation: transitionIn 1s;
}

#fonty {
    color: #cfa670;
    font-family: 'Kristi', cursive;
}
#underlining {
    border-bottom: 1px solid #cfa670;
    width: 100%;
}
#underlining2 {
    border-bottom: 1px solid #cfa670;
    width: 100%;
    margin-left: 1px !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #292526;
    background-color: #cfa670 !important;
    border: solid 1px #cfa670 !important;
}

.pagination > li > a
{
    color:#cfa670;
    background-color: #292526 !important;
    border-color: #cfa670;
}


.pagination > .active > a
{
    color: #292526;
    background-color: #cfa670 !important;
    border: solid 1px #cfa670 !important;
}

#fixedtop
{
    position: sticky !important;
    top: 0 !important;
}