.background1 {
    width: 100% !important;
    height: 100vh;
    background-image: url('../../../assets/img/naslovnaEdit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background3 {
    padding-top: 10px;
    width: 100% !important;
    height: 145vh;
    background-image: url('../../../assets/img/20210131_140037.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#rest {
    color: #cfa670;
    font-family: 'Kristi', cursive;
}

#rest1 {
    color: #cfa670;
    font-family: 'Italianno', cursive;
}

.background2 {
    width: 100% !important;
    height: 120vh;
    background-image: url('../../../assets/img/o-nama-luburicEdit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding-top: 250px;
    animation: transitionIn 4s;
}


.parallax {
    /* The image used */
    background-image: url("../../../assets/img/parallax.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carouselOut{
    outline: none;
}

#firstContainer {
    background-color: #292526 !important;
    padding-top: 10px;
    color: #cfa670;
    animation: transitionIn 1s;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #cfa670 !important;
}

input {
    color: black !important;
}
