<app-panelnav></app-panelnav>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="container pt-5">
        <div class="row pl-2 pt-5">
            <h4>Dodavanje:</h4>
        </div>
        <div class="row pt-3 align-items-center">

                    <label for="" class="col">
                        <div class="row align-items-center">
                            <div class="col"><h5>Courses_id:</h5></div>
                            <div class="col"><input type="text" style="height: 40px;" [(ngModel)] = "courses_id" placeholder="Courses_id"></div>
                        </div>                   
                    </label>
                    <label for="" class="col">
                      <div class="row align-items-center">
                            <div class="col"><h5>Ime:</h5></div>
                            <div class="col"><input type="text" style="height: 40px;" [(ngModel)] = "name" placeholder="Ime"></div>
                      </div>
                    </label>
                    <label for="" class="col">
                        <div class="row align-items-center">
                              <div class="col"><h5>Cijena:</h5></div>
                              <div class="col"><input type="text" style="height: 40px;" [(ngModel)] = "price" placeholder="Cijena"></div>
                        </div>
                    </label>
                    <label for="" class="col">
                        <div class="row align-items-center">
                              <div class="col"><h5>Valuta:</h5></div>
                              <div class="col"><input type="text" style="height: 40px;" [(ngModel)] = "currency" placeholder="Valuta"></div>
                        </div>
                    </label>
                    <label for="" class="col">
                        <button class="btn btn-secondary btn-block" (click)="addToMenu()"><i class="fa fa-check"></i></button>
                      </label>
                

        </div>
        <div class="row pl-2 pt-5">
            <h4>Popis:</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="menus$ | async as menus">
                
                    <div *ngFor="let dish of menus">
                    
                        <div class="row pt-4 justify-content-middle">
                            <div class="col">Courses_id: {{dish.courses_id}}</div>
                            <div class="col">Ime: {{dish.name}}</div>
                            <div class="col">Cijena: {{dish.price}}</div>
                            <div class="col">Valuta: {{dish.currency}}</div>
                            <div class="col-2">
                                <button class="btn btn-secondary btn-block" (click)="removeFromMenu(dish.name)"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                
            </div>
            </div>
            
        </div>
        <div style="margin-left: 40%; padding-top: 20px;">
            <input class="btn btn-secondary" type="button" (click)="downloadMeni()" id="dwn-btn" value="Preuzmi meni"/>
        </div>
    </div>
    
</body>
