<app-navbar></app-navbar>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Kristi&display=swap" rel="stylesheet">
  
    <div class="background1">
      <div class="container" id="firstContainer">
        
      </div>
    
    </div>
    
    <div class="parallax">

    </div>
    <div class="background2">
      <div class="container" id="secondContainer">

      </div>
    </div>
    <app-footer></app-footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>